body {
    background-color: black;
}
.colorWhiteLow {
    color: rgba(256, 256,256, 0.5);
}
.image-home {
    background-image: url('./assets/Substitua\ pelo\ que\ quiser.png');
    background-repeat: no-repeat;
    background-size: cover ;
}